
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div >
    <h5 class="text-center">Seja bem vindo ao Gerencimanto de Compras - Medvitalis!</h5>
    
    <div class="container-fluid">
        <img src="/img/new wallpaper.jpg" class="img-thumbnail" alt="mulher com braços abertos de frente para o mar">
    </div>
</div>
